@page "/"
@using Cnblogs.DashScope.WebSample.Samples
@using Markdig
@using Microsoft.Extensions.Localization
@inject IJSRuntime JsRuntime
@inject IStringLocalizer<Home> Localizer;

<aside class="flex-0 min-w-75 bg-gray-100 p-4 flex flex-col gap-y-1">
    <div class="flex gap-2 items-center text-sm w-full">
        <label for="api-key">API Key: </label>
        <div class="bg-white rounded-sm overflow-hidden border-gray-100 border flex-1">
            <input @bind-value="_apiKey" class="w-full px-2 py-1 font-mono" id="api-key"/>
        </div>
    </div>
    <nav class="flex flex-col gap-y-4">
        @foreach (var sampleGroup in _samples)
        {
            <section class="flex flex-col gap-y-3">
                <h3 class="">@Localizer.GetString(sampleGroup.Key)</h3>
                <ul class="flex flex-col gap-y-3">
                    @foreach (var sample in sampleGroup.Value)
                    {
                        <li @onclick="_ => LoadSample(sample)">@Localizer.GetString(sample.Description)</li>
                    }
                </ul>
            </section>
        }
    </nav>

</aside>

<main class="flex-1 flex p-4">
    <div id="container" class="flex-1 min-h-screen h-full overflow-y-auto prose">

    </div>
    <div class="flex-1 overflow-y-auto">

    </div>
</main>

@code {
    private string _apiKey = string.Empty;
    private bool _needHighlight = true;
    private Dictionary<string, List<ISample>> _samples = new();

    private MarkdownPipeline _pipeline = new MarkdownPipelineBuilder()
        .UseAdvancedExtensions()
        .UseAlertBlocks()
        .Build();

    /// <inheritdoc />
    protected override void OnInitialized()
    {
        _samples = typeof(TextSample).Assembly.GetTypes()
            .Where(t => t.IsAssignableTo(typeof(ISample)) && t is { IsClass: true, IsAbstract: false })
            .Select(x => Activator.CreateInstance(x) as ISample)
            .Where(x => x != null)
            .Select(x => x!)
            .GroupBy(x => x.Group)
            .ToDictionary(x => x.Key, x => x.ToList());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _apiKey = await JsRuntime.InvokeAsync<string>("localStorage.getItem", "dashscope-apiKey");
            StateHasChanged();
        }

        if (_needHighlight)
        {
            await JsRuntime.InvokeVoidAsync("highlightCode");
            _needHighlight = false;
        }
    }

    private void LoadSample(ISample sample)
    {
        throw new NotImplementedException();
    }

}
