name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main", "staging" ]

jobs:
  test-net6:
    runs-on: ubuntu-latest
    container: mcr.microsoft.com/dotnet/sdk:6.0
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: dotnet build src/Cnblogs.DashScope.AspNetCore -c Release -p:TargetFrameworks=net6.0
      - name: Test
        run: dotnet test test/Cnblogs.DashScope.Sdk.UnitTests -c Release -p:TargetFrameworks=net6.0
  test-net8:
    runs-on: ubuntu-latest
    container: mcr.microsoft.com/dotnet/sdk:8.0
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: dotnet build src/Cnblogs.DashScope.AI -c Release -p:TargetFrameworks=net8.0
      - name: Test
        run: dotnet test test/Cnblogs.DashScope.AI.UnitTests -c Release -p:TargetFrameworks=net8.0

